<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Start Interval for service to start checking and working-->
    <add key="Interval" value="12"/>
    
    <!--File Last Access time in hours-->
    <add key="LastAccessTime" value="6"/>
    
    <!--Source Directory to check old files-->
    <add key="SourceDirectory" value="D:\Download"/>

    <!--Destination Directory to add compress files here-->
    <add key="DestinationDirectory" value="E:\Archive"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
